snippet class
	function ${1:class_name}() {
		${2:base_name}.call(this);
	}

	util.inherits(${1}, ${2})
	
snippet eclass
	module.exports = ${1};
	function ${1}() {
	}

snippet pall
	${1} = Promise.promisifyAll(${1});
