snippet class
	function ${0:class_name}() {
		${1:base_name}.call(this);
	}

	util.inherits(${0}, ${1})
snippet eclass
	module.exports = ${0};
	function ${0}() {
	}
snippet pall
	${0} = Promise.promisifyAll(${0});
